<h1>Conozca el mejor Café de Colombia</h1>
<div class="card" id="imgpromocional">
    <img class="card-img-top" src= "https://www.minagricultura.gov.co/CadenaProductos/ImagenesProductos/Promocion%20Consumo%20caf%C3%A9%203.jpg">
</div>

<app-cafes-list></app-cafes-list>


<div class="card-footer">
    Pagina web de ejemplo realizada para el curso Conceptos Básicos de Ingeniería de Software para la web <br>
    La imagen utilizada pertenece al ministerio de agricultura, es una imagen promocional del sector cafetero <br>
    Elabora: Juan Camilo Mora García
</div>
